:root {
  --color-primario: #0077b6; /* Azul vibrante */
  --color-secundario: #ffb703; /* Amarillo cálido */
  --header-height: 120px; /* pon aquí la altura de tu header */
}

/* Para navegadores al hacer scroll con anclas*/
html {
  scroll-padding-top: var(--header-height);
}

/* Estilos globales */

body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-primario);
  box-sizing: border-box;
}
/* layout de la página */
@media (min-width: 768px) {
  .layout {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
    grid-auto-flow: column;
  }
}

/*layout móvil*/

/* Estilos para el encabezado */
header {
  background-color: var(--color-secundario);
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 200;
}

header h1 {
  font-size: 2em;
  text-align: left;
  margin-left: 5%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
@media (min-width: 768px) {
  nav ul li {
    text-align: right;
    display: inline;
    margin: 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  nav ul li {
    text-align: right;
    display: inline;
    margin: 8px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
  }
}

nav ul li a:hover {
  text-decoration: underline;
  color: black;
  transition: color 0.5s;
}
/* Estilos para la sección de contenido */
main {
  position: static;
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  text-align: center;
  padding-top: 150px;
  animation: fadeInUp 0.5s ease-in-out 1s;
  z-index: 100; /* Asegura que el contenido esté por debajo del header */
}

main h2 {
  color: #ffc637;
  font-size: 1.8em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: white;
  margin: 20px auto;
  width: 60%;
  text-align: left;
}

#home img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 15px; /* Bordes redondeados */
}

#home img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Estilo sección de contacto */
#contact {
  grid-row: 1 /2;
}

#contact p {
  width: 40%;
}

#contact span {
  font-size: 12px;
  color: white;
  display: none;
}
#contact span {
  display: inline;
}

/* Estilos para el pie de página */

footer {
  background-color: var(--color-secundario);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  margin: auto;
  bottom: 0px;
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
